@charset "UTF-8";

@font-face {
    font-family: 'Exo 2 Condensed';
    src: local('Exo 2 Thin Condensed'), local('Exo2-ThinCondensed'),
    url('../../fonts/exo2condensed-100-normal.woff2') format('woff2'),
    url('../../fonts/exo2condensed-100-normal.woff') format('woff'),
    url('../../fonts/exo2condensed-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
