@charset "UTF-8";

@font-face {
    font-family: 'Exo 2 Condensed';
    src: local('Exo 2 Light Condensed'), local('Exo2-LightCondensed'),
    url('../../fonts/exo2condensed-300-normal.woff2') format('woff2'),
    url('../../fonts/exo2condensed-300-normal.woff') format('woff'),
    url('../../fonts/exo2condensed-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
