@charset "UTF-8";

@font-face {
    font-family: 'Exo 2 Condensed';
    src: local('Exo 2 Black Condensed'), local('Exo2-BlackCondensed'),
    url('../../fonts/exo2condensed-900-normal.woff2') format('woff2'),
    url('../../fonts/exo2condensed-900-normal.woff') format('woff'),
    url('../../fonts/exo2condensed-900-normal.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
